<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--ServletContext-->
    <context-param>
        <param-name>context-param1</param-name>
        <param-value>context-param1</param-value>
    </context-param>

    <context-param>
        <param-name>context-param2</param-name>
        <param-value>context-param2</param-value>
    </context-param>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.mingxxx.servlet.MyServlet</servlet-class>
        <!--<load-on-startup>2</load-on-startup>-->
        <!--有了load-on-startup属性不建议加init-param，因为会自动初始化，所以没必要, 会被ide标红-->
        <!--ServletConfig-->
        <init-param>
            <param-name>init-param1</param-name>
            <param-value>init-param1</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/my</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>hello.html</welcome-file>
    </welcome-file-list>
</web-app>